/*
  ░██╗░
░███████╗███████╗░█████╗░
██╔██╔══╝██╔════╝██╔══██╗
╚██████╗░█████╗░░███████║
░╚═██╔██╗██╔══╝░░██╔══██║
███████╔╝███████╗██║░░██║
╚══██╔═╝░╚══════╝╚═╝░░╚═╝
   ╚═╝
*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
}

#content {
    position: relative;
}

#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}

div {
    border: 1px solid black;
}

div.a {
    overflow-wrap: anywhere;
}

.font {
    font-family: "VT323", normal;
}

a {
    color: #56b0ff;
}

a:hover {
    color: #2783d4;
}
