body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding: 10px; /* Adjust padding as needed */
}

.sound-button {
    padding: 10px;
    font-size: 16px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px; /* Adjust margin as needed */
}

.sound-button:hover {
    background-color: #2a4c7f;
}
